{% extends 'componentes/base.html' %}
{% load staticfiles %}
{% block content %}

<div class="container" ng-controller="ctrl_login">

    <form ng-submit="login()">
        <div class="form-group">
            <label for="correoElectronico">Usuario</label>
            <input type="email" class="form-control" id="correoElectronico"
                   placeholder="Correo Electrónico" ng-model="login.correoElectronico" required maxlength="50">
        </div>

        <div class="form-group">
            <label for="contrasenia">Contraseña</label>
            <input type="password" class="form-control" id="contrasenia" placeholder="Contraseña"
                   ng-model="login.contrasenia" required maxlength="15">
        </div>

        <input type="submit" class="btn btn-default" value="Login">
    </form>
</div>

{% endblock %}